<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @zillow_detail.property %>
</p>

<p>
  <strong>Zpid:</strong>
  <%= @zillow_detail.zpid %>
</p>

<p>
  <strong>Usecode:</strong>
  <%= @zillow_detail.useCode %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @zillow_detail.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @zillow_detail.longitude %>
</p>

<p>
  <strong>Year:</strong>
  <%= @zillow_detail.year %>
</p>

<p>
  <strong>Lot:</strong>
  <%= @zillow_detail.lot %>
</p>

<p>
  <strong>Area:</strong>
  <%= @zillow_detail.area %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @zillow_detail.baths %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @zillow_detail.beds %>
</p>

<p>
  <strong>Lastsolddate:</strong>
  <%= @zillow_detail.lastSoldDate %>
</p>

<p>
  <strong>Lastsold:</strong>
  <%= @zillow_detail.lastSold %>
</p>

<p>
  <strong>Zestimate:</strong>
  <%= @zillow_detail.zEstimate %>
</p>

<p>
  <strong>Zestimatedate:</strong>
  <%= @zillow_detail.zEstimateDate %>
</p>

<p>
  <strong>Zrentestimate:</strong>
  <%= @zillow_detail.zRentEstimate %>
</p>

<p>
  <strong>Zrentestimatedate:</strong>
  <%= @zillow_detail.zRentEstimateDate %>
</p>

<p>
  <strong>Zillowdetails:</strong>
  <%= @zillow_detail.zillowDetails %>
</p>

<%= link_to 'Edit', edit_zillow_detail_path(@zillow_detail) %> |
<%= link_to 'Back', zillow_details_path %>
